<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>ParisBoatClub</ion-title>
  </ion-toolbar>
</ion-header>



    <ion-content responsive-sm  >
      <ion-grid>
        <ion-row >
        <ion-col sizeLg="3" sizeMd="3" sizeXs="0"  >
        </ion-col>
    
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style="border: 2px;border-width: 2px; text-align: center;"  >
          

          <h1> {{ "ourstairs" | translate }} </h1> 
          <ion-card class="custmodal" ion-button outline item-end small  style="max-width: 500px;">
          <h1> {{ "escale_1_title" | translate }} </h1> 
          <p style="padding-left: 10%;padding-right: 10%;text-align: center;"> {{ "escale_1_content" | translate }} </p> 
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3486.9403088645954!2d2.2805353!3d48.8494202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6717b487dab81%3A0xe9be0a2bc165f919!2sParis%20Boat%20Club%20-%20Escale%20de%20Beaugrenelle!5e1!3m2!1sfr!2sfr!4v1727254928203!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </ion-card>


          <ion-card class="custmodal" ion-button outline item-end small style="max-width: 500px;">
            <h1> {{ "escale_2_title" | translate }} </h1> 
            <p style="padding-left: 10%;padding-right: 10%;text-align: center;"> {{ "escale_2_content" | translate }} </p> 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.6108857347845!2d2.3322132!3d48.860082899999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f682ee5e3df%3A0x1ba88bea41a09a01!2sParis%20Boat%20Club!5e1!3m2!1sfr!2sfr!4v1727255673563!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </ion-card>


            <ion-card class="custmodal" ion-button outline item-end small  style="max-width: 500px;">
              <h1> {{ "escale_3_title" | translate }} </h1> 
              <p style="padding-left: 10%;padding-right: 10%;text-align: center;"> {{ "escale_3_content" | translate }} </p> 
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.4466811321026!2d2.3618949!3d48.848832099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671307cbb80fb%3A0x74bcd331923d9066!2sParis%20Boat%20Club%20-%20Escale%20Henri%20IV!5e1!3m2!1sfr!2sfr!4v1727255736441!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </ion-card>
        

         </ion-col>


         </ion-row>

         <ion-row >
          <ion-col sizeLg="3" sizeMd="3" sizeXs="0"  >
          </ion-col>
      
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style="border: 2px;border-width: 2px; text-align: center;"  >
   
            <h1> {{ "otherstops" | translate }} </h1> 

            <p> {{ "intro_escales" | translate }} </p> 
            
            

           </ion-col>
  
  
           </ion-row>


      <div id="map2" ></div>
      </ion-grid>
    </ion-content>







