<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>ParisBoatClub</ion-title>
  </ion-toolbar>
</ion-header>



    <ion-content responsive-sm  class="ion-padding" >
      <ion-grid>
        <ion-row class="padding">
        <ion-col sizeLg="3" sizeMd="3" sizeXs="0"  >
        </ion-col>
    
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style="border: 2px;border-width: 2px; text-align: center;"  >
          <h1> {{ "boat_1" | translate }} </h1> 
          <img  src="../assets/boat1.jpg" style="width: 100%;"  >

          <p> {{ "boat_2" | translate }} </p> 
          <p> {{ "boat_3" | translate }} </p> 
          <p> {{ "boat_4" | translate }} </p> 
        <ion-card class="custmodal" ion-button outline item-end small color="light" >
          <img  src="../assets/boat2.jpg" style="width: 100%;"  >
        </ion-card>
        

        <ion-card class="custmodal" ion-button outline item-end small color="light" >
          <img  src="../assets/boat3.jpg" style="width: 100%;"  >
        </ion-card>
         </ion-col>

         </ion-row>
      </ion-grid>




  </ion-content>

