<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title >ParisBoatClub </ion-title>

    <ion-buttons slot="primary">
      <div  *ngIf="language=='fr'"> 
        <audio controls src="https://api.parisboatclub.blog/audio_fr/00_Intro_FR.mp3"  ></audio>
        </div>
        <div  *ngIf="language=='en'"> 
        <audio controls src="https://api.parisboatclub.blog/audio_en/00_Intro_EN.mp3"></audio>
        </div>
        <div  *ngIf="language=='it'"> 
        <audio controls src="https://api.parisboatclub.blog/audio_it/00_Intro_IT.mp3" ></audio>
        </div>
        <div  *ngIf="language=='es'"> 
        <audio controls src="https://api.parisboatclub.blog/audio_es/00_Intro_ES.mp3" ></audio>
        </div>
 
    </ion-buttons>


  </ion-toolbar>
</ion-header>
<ion-button icon-left color="success" expand="full" shape="round" (click)="getPositionNew()"  tappable style="text-transform: capitalize;">
  <ion-icon name="locate-outline"></ion-icon>  {{ "myposition" | translate }}
  </ion-button>
  <div id="map"></div>

    <ion-fab  vertical="bottom" horizontal="end" slot="fixed" class="btmap">
      <ion-fab-button (click)="goList()">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab>


   

    <ion-modal [isOpen]="isModalOpen"
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top" style="text-align: center;">
          {{ "geomap" | translate }}

          <ion-label>
            <ion-button icon-left color="primary" expand="full"
             shape="round" (click)="getPositionNew()"  tappable 
             style="text-transform: capitalize;"
             > {{ "yes" | translate }} </ion-button>
             <ion-button icon-left color="light" expand="full"
             shape="round" (click)="setOpen(false)"  tappable 
             style="text-transform: capitalize;"
             > {{ "no" | translate }} </ion-button>

             

            </ion-label>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>