<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>ParisBoatClub</ion-title>
  </ion-toolbar>
</ion-header>



    <ion-content responsive-sm  >
      <ion-grid>
        <ion-row >
        <ion-col sizeLg="3" sizeMd="3" sizeXs="0"  >
        </ion-col>
    
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style="border: 2px;border-width: 2px; "  >
          

          <h1> {{ "legal" | translate }} </h1> 
         
          <b>Application éditée par Ettore Riva Productions pour ParisBoatClub</b>
          Ettore Riva Productions <br>
          2 rue Jules Jouy <br>
          75018 Paris <br>
         <a href="https://ettorerivaproductions.com">ettorerivaproductions.com </a>  <br>
         <a href="mailto: dev@ettorerivaproductions.com">  dev&#64;ettorerivaproductions.com</a><br>
         <a href="tel:+33623898276" class="button button-positive">+33623898276</a>  <br>
          <br>
  
          <br>
          <b>Photographies et textes </b><br>
          Ettore Riva<br>
          <br>
          <b> Cartes </b><br>
          Leaflet - OpenStreetMap<br>
         <br>

         </ion-col>
         </ion-row>
      </ion-grid>



  </ion-content>

