<ion-tabs >

  <ion-tab-bar slot="button" color="secondary" >
    <ion-tab-button tab="home" href="/tabs/home"  >
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>{{ "home" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label>{{ "map" | translate }}</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="posts" href="/tabs/posts">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>{{ "list" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="services-list" href="/tabs/services-list">
      <ion-icon aria-hidden="true" name="tv"></ion-icon>
      <ion-label>{{ "services" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ "settings" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
