<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  
    <ion-title>ParisBoatClub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">



 <h1> {{ "askquestion" | translate }} </h1>

  <ion-textarea type="text"autoGrow="true" style="height:200px" [(ngModel)]="userInput" class="roundedInput" placeholder="{{ 'placequestion' | translate }}"></ion-textarea>
  <ion-button icon-left size="primary" expand="full" shape="round" (click)="sendMessage()"  tappable  style="padding-top: 10%;text-transform: capitalize;">
    {{ "next" | translate }}
    </ion-button>






    <ion-list  *ngFor="let item of posts">
      <ion-card  *ngIf="item.role=='user'">
      <ion-card-content style="color:black; text-align: right;">
        {{item.content[0].text.value   }}
      </ion-card-content>
    </ion-card>


    <ion-card  *ngIf="item.role=='assistant'">
      <ion-card-content style="color:rgb(30, 18, 165); text-align: left;">
       <b> {{item.content[0].text.value   }} </b>
      </ion-card-content>
    </ion-card>
    </ion-list>









  
</ion-content>  