.list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #0e4173;
    height: 100%;
}

.item {
    --color: initial;
    display: block;
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    font-size: inherit;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    height: 40px;
}