<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>ParisBoatClub</ion-title>
  </ion-toolbar>
</ion-header>



    <ion-content responsive-sm  class="ion-padding" >
      <ion-grid>
        <ion-row class="padding">
        <ion-col sizeLg="3" sizeMd="3" sizeXs="0"  >
        </ion-col>
    
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style="border: 2px;border-width: 2px; "  >
          <h1> {{ "modeemploi" | translate }} </h1> 
       
         
          <p> . {{ "modeemploi1" | translate }}  <img  src="../assets/langues.png" style="width: 80px;text-align: center;text-transform : capitalize;" (click)="changelg()"  ></p> 
          <p> . {{ "modeemploi2" | translate }}  <ion-button  (click)="goHome()" > <ion-icon olor="primary"  name="arrow-up-circle"></ion-icon>  </ion-button>  </p> 
          <p> . {{ "modeemploi3" | translate }} <ion-button  (click)="goPosts()"> <ion-icon olor="primary"  name="list"></ion-icon>  </ion-button>  </p> 
          <p> . {{ "modeemploi4" | translate }} <ion-button (click)="goMap()"> <ion-icon olor="primary"  name="map"></ion-icon>  </ion-button>  </p>  
          <p> . {{ "modeemploi5" | translate }} <ion-button href="/tabs/map"> <ion-icon olor="primary"  name="home"></ion-icon>  </ion-button>  </p> 
          <p> . {{ "modeemploi6" | translate }} <ion-button href="/tabs/map"> <ion-icon olor="primary"  name="reorder-three"></ion-icon>  </ion-button>  </p> 
          <img  src="../assets/icon/slide4.png" style="width: 100%;"  >

         </ion-col>

         </ion-row>
      </ion-grid>

  </ion-content>

  goMa