<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>ParisBoatClub</ion-title>
  </ion-toolbar>
</ion-header>



    <ion-content responsive-sm  class="ion-padding" >
      <ion-grid>
        <ion-row class="padding">
        <ion-col sizeLg="3" sizeMd="3" sizeXs="0"  >
        </ion-col>
    
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style="border: 2px;border-width: 2px; "  >
          <h1> {{ "modeemploi" | translate }} </h1> 
       

          <p> . {{ "modeemploi1" | translate }} </p> 
          <p> . {{ "modeemploi2" | translate }} </p> 
          <p> . {{ "modeemploi3" | translate }} </p> 
          <p> . {{ "modeemploi4" | translate }} </p> 
          <p> . {{ "modeemploi5" | translate }} </p> 
          <p> . {{ "modeemploi6" | translate }} </p> 
          <img  src="../assets/icon/slide4.png" style="width: 100%;"  >

         </ion-col>

         </ion-row>
      </ion-grid>




  </ion-content>

