<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title >ParisBoatClub </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >



    <ion-row justify-content-center>
      <ion-col size-md="3" size-lg="3" size-xs="12">
      </ion-col>
  
          <ion-col align-self-center sizeLg="6" sizeMd="6" sizeXs="6" *ngFor="let item of posts">
            <ion-card  >
              <img  src="{{UrlImage}}{{item}}" *ngIf="item"  class='image-view' >
            </ion-card>
          </ion-col>

      

      <ion-col size-md="3" size-lg="3" size-xs="12">
      </ion-col>

            

    </ion-row>

      
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement..."> </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
