<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title >ParisBoatClub </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <ion-row justify-content-center>
    <ion-col size-md="3" size-lg="3" size-xs="12">
    </ion-col>

        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
     


          <ion-list>
            <ion-button icon-left color="success" expand="full" shape="round" (click)="goChatgpt()"  tappable style="text-transform: capitalize;">
              <ion-icon name="chatbubbles-outline"></ion-icon>  {{ "askquestion" | translate }}
              </ion-button>
            </ion-list>

            <ion-list>
              <ion-button icon-left color="success" expand="full" shape="round" href="https://parisboatclub.shop/"  tappable style="text-transform: capitalize;">
                <ion-icon name="gift-outline"></ion-icon>  {{ "shop" | translate }}
                </ion-button>
              </ion-list>
  

          <ion-list>
          <ion-accordion-group  color="secondary">
            <ion-accordion value="1" >
              <ion-item slot="header" color="secondary">
                <ion-label> {{ "about_title" | translate }} </ion-label>
              </ion-item>
              <div class="ion-padding" color="secondary" slot="content" style="background-color: #b3b3b3;"> {{ "about_content" | translate }}</div>
            </ion-accordion>
          </ion-accordion-group>
        


          <ion-item  href="mailto:info@parisboatclub.fr" >
            <ion-label> <ion-icon name="mail" color="secondary"></ion-icon> Email </ion-label>
          </ion-item>

          <ion-item href="tel:+33623898276">
            <ion-label> <ion-icon name="call" color="secondary"></ion-icon>   {{ "callme" | translate }}</ion-label>
          </ion-item>


          <ion-item href="https://api.whatsapp.com/send?phone=33623898276">
            <ion-label> <ion-icon color="success" name="logo-whatsapp"></ion-icon>   {{ "sendmessage" | translate }} </ion-label>
          </ion-item>


          <ion-item href="https://www.instagram.com/parisboatclub/">
            <ion-label> <ion-icon name="logo-instagram" color="secondary"></ion-icon> Instragram </ion-label>
          </ion-item>


          <ion-item href="https://www.facebook.com/parisboatclub">
            <ion-label> <ion-icon name="logo-facebook"  color="secondary"></ion-icon> Facebook </ion-label>
          </ion-item>
      
          <ion-item href="https://www.youtube.com/@parisboatclub">
            <ion-label> <ion-icon name="logo-youtube"  color="danger"></ion-icon>  Youtube </ion-label>
          </ion-item>
      
          <ion-item href="https://parisboatclub.fr/">
            <ion-label> <ion-icon name="desktop-outline" color="secondary"></ion-icon>  ParisBoatClub </ion-label>
          </ion-item>


          <ion-item href="https://parisboatclub.fr/pages/blog">
            <ion-label> <ion-icon name="images-outline" color="secondary"></ion-icon> Blog</ion-label>
          </ion-item>
      
            <ion-item href="https://parisboatclub.fr/pages/politique-de-confidentialite">
              <ion-label>  <ion-icon name="information-circle-outline" ></ion-icon> {{ "cgu_title" | translate }}</ion-label>
            </ion-item>
          </ion-list>



        <div style="width: 200px;text-align: center;margin: auto">
          <img  src="../assets/icon/logo.jpg" style="width: 200px;"  >
        </div>
        </ion-col>

    
    <ion-col size-md="3" size-lg="3" size-xs="12">
    </ion-col>
  </ion-row>
</ion-content>
