ion-list{

    margin-top: 8%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ion-boutton{
    text-transform: capitalize;
}